Find the sum of all elements in a list.

In [3]:
numbers=[34,56,78,90,99,78,34]
total=0
for i in numbers:
    total+= i
print(total)

469

Find maximum and minimum number in a list

In [10]:
a=[23,45,6,78,9,34,56,67,98]
small=a[0]
max=a[0]
for n in a:
    if small<n:
        small=n
    if max>n:
        max=n
print(small,max)

98 6

Count occurrences of a specific number

In [12]:
a=[23,4,5,6,4,5,4,6,3,5,4]
num=4
count=0
for n in a :
    if n==num:
        count+=1
print(count)

4

Remove all occurrences of an element

In [17]:
a=[5,6,7,5,5,64,5,3,5,6,3,2]
num=5
result=[]
for i in a:
    if i !=num:
        result.append(i)
print(result)

[6, 7, 64, 3, 6, 3, 2]

Reverse a list without using reverse()

In [ ]:
a=[90,56,98,45,23,12,35,67,90]
rev=a[::-1]  #slicing 
print(rev)

[90, 67, 35, 12, 23, 45, 98, 56, 90]

In [31]:
#using loop 
a=[90,56,98,45,23,12,35,67,90]
rev=[]
for i in a:
    rev.insert(0,i)
print(rev)

[90, 67, 35, 12, 23, 45, 98, 56, 90]

Print only even numbers

In [32]:
a=[2,3,4,5,6,7,8,9,12,23,34,56,78,79,97]
for i in a:
    if i % 2==0:
        print (i)

2
4
6
8
12
34
56
78

Print only odd numbers

In [33]:
a=[2,3,4,5,6,7,8,9,12,23,34,56,78,79,97]
for i in a:
    if i % 2!=0:
        print (i)

3
5
7
9
23
79
97

Squares of each number

In [34]:
a=[2,3,4,5,6,7,8,9,12,23,34,56,78,79,97]
for i in a:
    print(i**2)

4
9
16
25
36
49
64
81
144
529
1156
3136
6084
6241
9409

Find all numbers greater than k

In [35]:
a=[2,5,8,23,45,67,8,24,12,34,80]
k=40
for i in a:
    if i>k:
        print(i)

45
67
80

In [36]:
nums = [1,5,8,3,9]
k = 5
result = []

for n in nums:
    if n > k:
        result.append(n)

print(result)

[8, 9]

Check if list is sorted

In [37]:
nums=[89,34,90,23,456,87,93,125,10]
sorted_flag=True
for i in range(len(nums)-1):
    if nums[i]>nums[i+1]:
        sorted_flag=False
        break
print(sorted_flag)

False